In [1]:
import pandas as pd
import feather

In [58]:
df = pd.read_feather("/Users/ramakrishna/Downloads/Telegram Desktop Downloads/2024-10-18-index-nfo-data.feather")
                # names = ["time", "ltp", "symbol", "exchange", "open", "high", "low", "close "])
                # We assign the column names while reading the csv itself.  Applies when reading csv or tsv files.
# Columns are: 'date', 'open', 'high', 'low', 'close', 'volume', 'oi', 'symbol', 'name', 'expiry', 'strike', 'instrument_type'
# Index is none
# symbol column contains the names of the option symbols like NIFTY24O1723150PE
# name column contains these 5 values: NIFTYNXT50', 'MIDCPNIFTY', 'FINNIFTY', 'BANKNIFTY', 'NIFTY'
# expiry column contains the date of expiry
# strike shows the strike price 
# instrument_type contains 'CE', 'PE', or 'FUT'

In [71]:
# Print the columns of the dataframe
df.columns.tolist()

# Print the column types of the dataframe
df.dtypes

# Print the index on which the dataframe is indexed
#print(df.index.name)

# Print a dataframe's column.  Will give the first five rows and last five rows
#df.instrument_type

# Count the unique values of a column
#df.groupby(['symbol']).ngroups

# Print the unique values of a column
#df['symbol'].unique()

# Sort the DataFrame by 'expiry' in ascending order and then by 'instrument_type', 'symbol' in descending order
#df = df.sort_values(['expiry', 'instrument_type', 'symbol'], ascending=[True, True, True])

# Convert the date column to a datetime column
#df['date'] = pd.to_datetime(df['date'])

# Check the date column type and ensure that it is: '<M8[ns]'
#df['date'].dtype

# Set the date column as the index for the data frame
#df.set_index("date", inplace=True)
#df

date               datetime64[ns, pytz.FixedOffset(330)]
open                                             float64
high                                             float64
low                                              float64
close                                            float64
volume                                             int64
oi                                                 int64
symbol                                            object
name                                              object
expiry                                            object
strike                                           float64
instrument_type                                   object
dtype: object

In [74]:
#df_25100PE = df[df['symbol'] == 'NIFTY24O2425100PE'].copy()
df['expiry'] = pd.to_datetime(df['expiry'])
df_25100PE = df[(df['name'] == "NIFTY") & (df['expiry'] == pd.to_datetime("2024-10-24")) & (df['strike'] == 25100) & (df['instrument_type'] == "PE")].copy()
df_25100PE.shape

(375, 12)

In [75]:
df_25100PE

,date,open,high,low,close,volume,oi,symbol,name,expiry,strike,instrument_type
634791,2024-10-18 09:15:00+05:30,433.95,453.95,420.40,450.55,48450,531450,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
634792,2024-10-18 09:16:00+05:30,450.00,482.25,450.00,474.90,40550,531450,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
634793,2024-10-18 09:17:00+05:30,475.95,482.85,472.90,479.20,19025,531450,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
634794,2024-10-18 09:18:00+05:30,479.20,497.95,477.75,491.05,12175,513750,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
634795,2024-10-18 09:19:00+05:30,491.05,495.00,482.25,487.15,13550,513750,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
...,...,...,...,...,...,...,...,...,...,...,...,...
635161,2024-10-18 15:25:00+05:30,246.65,247.50,245.00,245.00,24300,637250,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
635162,2024-10-18 15:26:00+05:30,245.00,247.65,244.70,246.90,11475,637250,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
635163,2024-10-18 15:27:00+05:30,246.90,248.00,242.10,242.10,8075,637250,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
635164,2024-10-18 15:28:00+05:30,242.15,245.40,242.15,245.40,13950,619300,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE
635165,2024-10-18 15:29:00+05:30,245.35,245.35,240.00,240.90,4575,619300,NIFTY24O2425100PE,NIFTY,2024-10-24,25100.0,PE

In [84]:
# Subset the dataframe for NIFTY Options
#df_nifty = df[(df["instrument_type"].isin(['PE', 'CE'])) & (df["name"] == "NIFTY")]

# OR
# Separate out the asset of interest.
#df = df[df['symbol'] == 'NIFTY24OCT25100CE'].copy()
df = df[(df['name'] == 'NIFTY') & (df['expiry'] == '2024-10-21') & ((df["instrument_type" == 'CE']].copy()

# Save the asset of interest as a feather file locally
feather.write_dataframe(df, "NIFTY24O2424800CE.feather")

# Then finally read the data from the seggregated file
df = pd.read_feather("NIFTY24O2424800CE.feather")
df.sort_index()

# Subset the dataframe for NIFTY current week options
# We are identifying the list by copying from the df_nifty['symbol'].unique() command's output

OCT17Options = ['NIFTY24O1723050PE', 'NIFTY24O1723100PE', 'NIFTY24O1723100CE',
       'NIFTY24O1723150PE', 'NIFTY24O1723150CE', 'NIFTY24O1723200PE',
       'NIFTY24O1723200CE', 'NIFTY24O1723250PE', 'NIFTY24O1723300PE',
       'NIFTY24O1723350PE', 'NIFTY24O1723400PE', 'NIFTY24O1723400CE',
       'NIFTY24O1723450PE', 'NIFTY24O1723500PE', 'NIFTY24O1723500CE',
       'NIFTY24O1723550PE', 'NIFTY24O1723600PE', 'NIFTY24O1723650PE',
       'NIFTY24O1723700PE', 'NIFTY24O1723700CE', 'NIFTY24O1723750PE',
       'NIFTY24O1723750CE', 'NIFTY24O1723800PE', 'NIFTY24O1723800CE',
       'NIFTY24O1723850PE', 'NIFTY24O1723900PE', 'NIFTY24O1723900CE',
       'NIFTY24O1723950PE', 'NIFTY24O1723950CE', 'NIFTY24O1724000PE',
       'NIFTY24O1724000CE', 'NIFTY24O1724050PE', 'NIFTY24O1724100PE',
       'NIFTY24O1724100CE', 'NIFTY24O1724150PE', 'NIFTY24O1724150CE',
       'NIFTY24O1724200PE', 'NIFTY24O1724200CE', 'NIFTY24O1724250PE',
       'NIFTY24O1724250CE', 'NIFTY24O1724300PE', 'NIFTY24O1724300CE',
       'NIFTY24O1724350PE', 'NIFTY24O1724350CE', 'NIFTY24O1724400PE',
       'NIFTY24O1724400CE', 'NIFTY24O1724450PE', 'NIFTY24O1724450CE',
       'NIFTY24O1724500PE', 'NIFTY24O1724500CE', 'NIFTY24O1724550PE',
       'NIFTY24O1724550CE', 'NIFTY24O1724600PE', 'NIFTY24O1724600CE',
       'NIFTY24O1724650PE', 'NIFTY24O1724650CE', 'NIFTY24O1724700PE',
       'NIFTY24O1724700CE', 'NIFTY24O1724750PE', 'NIFTY24O1724750CE',
       'NIFTY24O1725550CE', 'NIFTY24O1725600PE', 'NIFTY24O1725600CE',
       'NIFTY24O1725650PE', 'NIFTY24O1725650CE', 'NIFTY24O1725700PE',
       'NIFTY24O1725700CE', 'NIFTY24O1725750PE', 'NIFTY24O1725750CE',
       'NIFTY24O1725800PE', 'NIFTY24O1725800CE', 'NIFTY24O1725850PE',
       'NIFTY24O1725850CE', 'NIFTY24O1725900PE', 'NIFTY24O1725900CE',
       'NIFTY24O1725950PE', 'NIFTY24O1725950CE', 'NIFTY24O1726000PE',
       'NIFTY24O1726000CE', 'NIFTY24O1726050PE', 'NIFTY24O1726050CE',
       'NIFTY24O1726100PE', 'NIFTY24O1726100CE', 'NIFTY24O1726150PE',
       'NIFTY24O1726150CE', 'NIFTY24O1726200PE', 'NIFTY24O1726200CE',
       'NIFTY24O1726250PE', 'NIFTY24O1726250CE', 'NIFTY24O1726300PE',
       'NIFTY24O1726300CE', 'NIFTY24O1726350PE', 'NIFTY24O1726350CE',
       'NIFTY24O1726400CE', 'NIFTY24O1726450PE', 'NIFTY24O1726450CE',
       'NIFTY24O1726500PE', 'NIFTY24O1726500CE', 'NIFTY24O1726550CE',
       'NIFTY24O1726600PE', 'NIFTY24O1726600CE', 'NIFTY24O1726650CE',
       'NIFTY24O1726700PE', 'NIFTY24O1726700CE', 'NIFTY24O1726750CE',
       'NIFTY24O1726800CE', 'NIFTY24O1726850CE', 'NIFTY24O1726900CE',
       'NIFTY24O1726950CE', 'NIFTY24O1727000PE', 'NIFTY24O1727000CE',
       'NIFTY24O1727050CE', 'NIFTY24O1727100CE', 'NIFTY24O1727150CE',
       'NIFTY24O1727200CE', 'NIFTY24O1727250CE', 'NIFTY24O1727300CE',
       'NIFTY24O1727350CE', 'NIFTY24O1727400CE', 'NIFTY24O1727450CE',
       'NIFTY24O1727500CE', 'NIFTY24O1727550CE', 'NIFTY24O1727600CE',
       'NIFTY24O1727650CE', 'NIFTY24O1727700CE', 'NIFTY24O1727750CE',
       'NIFTY24O1727800CE', 'NIFTY24O1727850CE', 'NIFTY24O1727900CE',
       'NIFTY24O1727950PE', 'NIFTY24O1727950CE', 'NIFTY24O1725550PE',
       'NIFTY24O1725500PE', 'NIFTY24O1725500CE', 'NIFTY24O1724800PE',
       'NIFTY24O1724800CE', 'NIFTY24O1725450PE', 'NIFTY24O1725450CE',
       'NIFTY24O1724850PE', 'NIFTY24O1724850CE', 'NIFTY24O1725400PE',
       'NIFTY24O1725400CE', 'NIFTY24O1724900PE', 'NIFTY24O1724900CE',
       'NIFTY24O1725350PE', 'NIFTY24O1725350CE', 'NIFTY24O1724950PE',
       'NIFTY24O1724950CE', 'NIFTY24O1725300PE', 'NIFTY24O1725300CE',
       'NIFTY24O1725000PE', 'NIFTY24O1725000CE', 'NIFTY24O1725250PE',
       'NIFTY24O1725250CE', 'NIFTY24O1725050PE', 'NIFTY24O1725050CE',
       'NIFTY24O1725200PE', 'NIFTY24O1725200CE', 'NIFTY24O1725100PE',
       'NIFTY24O1725100CE', 'NIFTY24O1725150PE', 'NIFTY24O1725150CE']

df_17OCTOptions = df_nifty[df_nifty['symbol'].isin(OCT17Options)]
df_17OCTOptions.sort_index()
df_17OCTOptions

,date,open,high,low,close,volume,oi,symbol,name,expiry,strike,instrument_type
596651,2024-10-15 09:15:00+05:30,0.80,0.85,0.70,0.80,62650,3158925,NIFTY24O1723050PE,NIFTY,2024-10-17,23050.0,PE
596652,2024-10-15 09:16:00+05:30,0.75,0.75,0.70,0.75,41100,3158925,NIFTY24O1723050PE,NIFTY,2024-10-17,23050.0,PE
596653,2024-10-15 09:17:00+05:30,0.70,0.75,0.65,0.70,78975,3158925,NIFTY24O1723050PE,NIFTY,2024-10-17,23050.0,PE
596654,2024-10-15 09:18:00+05:30,0.70,0.70,0.60,0.65,127675,3170100,NIFTY24O1723050PE,NIFTY,2024-10-17,23050.0,PE
596655,2024-10-15 09:19:00+05:30,0.65,0.65,0.60,0.65,9525,3170100,NIFTY24O1723050PE,NIFTY,2024-10-17,23050.0,PE
...,...,...,...,...,...,...,...,...,...,...,...,...
653814,2024-10-15 15:25:00+05:30,53.85,54.15,52.55,53.90,164200,3884175,NIFTY24O1725150CE,NIFTY,2024-10-17,25150.0,CE
653815,2024-10-15 15:26:00+05:30,53.90,54.40,53.25,54.20,141125,3884175,NIFTY24O1725150CE,NIFTY,2024-10-17,25150.0,CE
653816,2024-10-15 15:27:00+05:30,54.45,54.90,53.75,54.00,168075,3884175,NIFTY24O1725150CE,NIFTY,2024-10-17,25150.0,CE
653817,2024-10-15 15:28:00+05:30,54.00,54.10,53.00,53.20,227025,3811225,NIFTY24O1725150CE,NIFTY,2024-10-17,25150.0,CE
653818,2024-10-15 15:29:00+05:30,53.25,53.50,52.00,52.55,348875,3811225,NIFTY24O1725150CE,NIFTY,2024-10-17,25150.0,CE

In [63]:
#df_nifty['symbol'].nunique()
df_nifty.groupby(['instrument_type']).ngroups

3

In [ ]:
 
#df_nifty_fut = df[df.name == 'NIFTY'], df[df.instrument_type == 'FUT']
df_nifty_fut

1. df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658986 entries, 0 to 658985
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype                                
---  ------           --------------   -----                                
 0   date             658986 non-null  datetime64[ns, pytz.FixedOffset(330)]
 1   open             658986 non-null  float64                              
 2   high             658986 non-null  float64                              
 3   low              658986 non-null  float64                              
 4   close            658986 non-null  float64                              
 5   volume           658986 non-null  int64                                
 6   oi               658986 non-null  int64                                
 7   symbol           658986 non-null  object                               
 8   name             658986 non-null  object                               
 9   expiry           658986 non-null  object                               
 10  strike           658986 non-null  float64                              
 11  instrument_type  658986 non-null  object                               
dtypes: datetime64[ns, pytz.FixedOffset(330)](1), float64(5), int64(2), object(4)
memory usage: 60.3+ MB

2. df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'oi', 'symbol',
       'name', 'expiry', 'strike', 'instrument_type'],
      dtype='object')

3. df.dtypes

date               datetime64[ns, pytz.FixedOffset(330)]
open                                             float64
high                                             float64
low                                              float64
close                                            float64
volume                                             int64
oi                                                 int64
symbol                                            object
name                                              object
expiry                                            object
strike                                           float64
instrument_type                                   object
dtype: object

4. 
date                 375
open               28843
high               28396
low                28150
close              28614
volume             23967
oi                 57188
symbol              2218
name                   5
expiry                33
strike               407
instrument_type        3
dtype: int64

In [9]:
# Step 1: Get the tick data for the asset of interest:
df = pd.read_feather("/Users/ramakrishna/Downloads/Telegram Desktop Downloads/2024-10-15-index-nfo-data.feather")
                # names = ["time", "ltp", "symbol", "exchange", "open", "high", "low", "close "])
                # We assign the column names while reading the csv itself.  Applies when reading csv or tsv files.

# Make the time column a datetime column
df['date'] = pd.to_datetime(df['date'])

# Check the time column type and ensure that it is: '<M8[ns]'
# df['time'].dtype

# Set the time column as the index for the data frame
df.set_index("date", inplace=True)


# Separate out the asset of interest.
df = df[df['symbol'] == 'NIFTY24OCT25100CE'].copy()

# Save the asset of interest as a feather file locally
feather.write_dataframe(df, "NIFTY24O2424800CE.feather")

# Then finally read the data from the seggregated file
df = pd.read_feather("NIFTY24O2424800CE.feather")
df.sort_index()

,open,high,low,close,volume,oi,symbol,name,expiry,strike,instrument_type
time,,,,,,,,,,,
2024-10-15 09:15:00+05:30,349.75,359.95,332.35,343.60,33525,984000,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 09:16:00+05:30,342.05,348.00,342.05,346.95,17100,984000,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 09:17:00+05:30,346.95,347.10,341.00,341.30,6725,984000,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 09:18:00+05:30,341.30,346.00,341.30,345.10,5325,975850,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 09:19:00+05:30,345.10,348.15,345.00,347.95,8900,975850,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
...,...,...,...,...,...,...,...,...,...,...,...
2024-10-15 15:25:00+05:30,258.50,260.00,258.10,259.55,9825,1089375,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 15:26:00+05:30,259.55,261.85,258.50,260.65,10325,1089375,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 15:27:00+05:30,260.80,262.85,260.65,262.00,9200,1089375,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 15:28:00+05:30,262.20,262.85,261.00,261.00,8025,1090700,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE
2024-10-15 15:29:00+05:30,261.15,262.00,259.05,262.00,7025,1090700,NIFTY24OCT25100CE,NIFTY,2024-10-31,25100.0,CE

In [88]:
# Calculating high-low, open-low and open-high ranges for the candles.
df_17OCTOptions.loc[:, 'hlr'] = df_17OCTOptions['high'] - df_17OCTOptions['low']
df_17OCTOptions.loc[:, 'olr'] = df_17OCTOptions['open'] - df_17OCTOptions['low']
df_17OCTOptions.loc[:, 'ohr'] = df_17OCTOptions['high'] - df_17OCTOptions['open']

In [91]:
# Calculating 5 ema for the calculated candle ranges above.
df_17OCTOptions.loc[:, 'hlr_ema_5'] = df_17OCTOptions.loc[:, 'hlr'].ewm(span=5, adjust=False, min_periods=5).mean()
df_17OCTOptions.loc[:, 'olr_ema_5'] = df_17OCTOptions.loc[:, 'olr'].ewm(span=5, adjust=False, min_periods=5).mean()
df_17OCTOptions.loc[:, 'ohr_ema_5'] = df_17OCTOptions.loc[:, 'ohr'].ewm(span=5, adjust=False, min_periods=5).mean()

In [94]:
# For the current row open, SL is previous row olr_ema
df_17OCTOptions.loc[:, 'sl'] = df_17OCTOptions['open'] - df_17OCTOptions.loc[:, 'olr_ema_5'].shift(1)

# Target is: current row open + 1.5* previous row olr_ema
df_17OCTOptions.loc[:, 'target'] = df_17OCTOptions.loc[:, 'open'] + (df_17OCTOptions.loc[:, 'olr_ema_5'].shift(1))*1.2
#df_17OCTOptions['target'] = df_17OCTOptions['target'].round(2)

Tgtcount = (df_17OCTOptions['high'] >= df_17OCTOptions['target']).sum()
print("Number of times target achieved in the same candle:", Tgtcount)

SLcount = (df_17OCTOptions['low'] <= df_17OCTOptions['sl']).sum()
print("Number of times SL hit in the same candle:", SLcount)

# How to count if the target or sl is hit in the subsequent candles?
def count_target_achievements(df_17OCTOptions):
    """Counts the instances where the 'target' value is achieved in subsequent rows.

    Args:
        df (pd.DataFrame): The DataFrame containing the data.

    Returns:
        int: The count of target achievements.
    """

    target_achieved = False
    count = 0

    for index, row in df_17OCTOptions.iterrows():
        if row['high'] >= row['target'] and not target_achieved:
            target_achieved = True
            count += 1
        elif row['high'] < row['target']:
            target_achieved = False

    return count

# Example usage
count = count_target_achievements(df_17OCTOptions)
print("Number of target achievements in sebsequent candles:", count)

Number of times target achieved in the same candle: 15711
Number of times SL hit in the same candle: 18388
Number of target achievements in sebsequent candles: 8199

# To be done:
Count the instances of SL hit where close is > open (green candles) and where close is < open (red candles)

In [96]:
# Count the instances of prev row ohr_ema_5 is less than target.  , then don't enter. ==>  This is to be done.
df_17OCTOptions.loc[:, 'tgtdiff'] = (df_17OCTOptions.loc[:, 'olr_ema_5'].shift(1))*0.50
count = (df_17OCTOptions.loc[:, 'ohr_ema_5'] <= (df_17OCTOptions.loc[:, 'tgtdiff'])).sum()
print(count)

17829

/var/folders/ym/fnvgkxh922n51cpbh3vt4mww0000gn/T/ipykernel_1262/218502776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_17OCTOptions.loc[:, 'tgtdiff'] = (df_17OCTOptions.loc[:, 'olr_ema_5'].shift(1))*0.50

In [104]:
# Frequency distribution of tgtdiff column
# This will probably give us the optimal tgtdiff range that has the maximum occurrences

#frequency_distribution = df_17OCTOptions['tgtdiff'].value_counts(bins=10)
# print(frequency_distribution)

bins = [0.20, 0.65, 1.15, 1.60, 2.0, 3.0, 4.0, 5.0]

# Calculate frequency distribution with custom bins
frequency_distribution = df_17OCTOptions['tgtdiff'].value_counts(bins=bins)
print(frequency_distribution)

(0.199, 0.65]    5111
(0.65, 1.15]     3925
(1.15, 1.6]      2746
(2.0, 3.0]       2098
(1.6, 2.0]       1743
(3.0, 4.0]        706
(4.0, 5.0]        246
Name: count, dtype: int64

In [108]:
df_17OCTOptions.columns.tolist()

['date',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'oi',
 'symbol',
 'name',
 'expiry',
 'strike',
 'instrument_type',
 'hlr',
 'olr',
 'ohr',
 'hlr_ema_5',
 'olr_ema_5',
 'ohr_ema_5',
 'sl',
 'target',
 'tgtdiff']