In [18]:
import pandas as pd
import feather
import numpy as np

In [78]:
df = pd.read_feather("/Users/ramakrishna/Downloads/ticks_oct18.feather")

In [59]:
df.columns
# Convert the date column to a datetime column
#df['time'] = pd.to_datetime(df['tick_time'])

Index(['id', 'tick_time', 'timezone', 'trading_symbol', 'exchange_name',
       'token', 'u_open', 'u_high', 'u_low', 'u_close', 'u_ltp'],
      dtype='object')

In [71]:
# Check the date column type and ensure that it is: '<M8[ns]'
#df['tick_time'].dtype

# Set the date column as the index for the data frame
#df.set_index("time", inplace=True)
#df

df_25000PE = df[df['trading_symbol'] == 'NIFTY24O2425000PE'].copy()

In [79]:
df['tick_time'] = pd.to_datetime(df['tick_time'])
#df['tick_time'] = df['tick_time'] + pd.to_timedelta('5h30min')
#print(df['tick_time'].dtype)
print(df['tick_time'])

0          2024-10-18 03:00:28+00:00
1          2024-10-18 03:00:28+00:00
2          2024-10-18 03:00:28+00:00
3          2024-10-18 03:00:28+00:00
4          2024-10-18 03:00:28+00:00
                      ...
11383351   2024-10-18 10:29:54+00:00
11383352   2024-10-18 10:29:56+00:00
11383353   2024-10-18 10:29:57+00:00
11383354   2024-10-18 10:29:59+00:00
11383355   2024-10-18 10:30:00+00:00
Name: tick_time, Length: 11383356, dtype: datetime64[ns, UTC]

In [80]:

# Filter for the specific symbol and time range
df = df[(df['trading_symbol'] == 'NIFTY24O2425000PE') &
        (df['tick_time'] >= '2024-10-18 03:45:00+00:00') &
        (df['tick_time'] <= '2024-10-18 10:00:00+00:00')]

# Convert UTC time to IST
df['tick_time'] = df['tick_time'] + pd.to_timedelta('5h30min')

# Group by 15-minute intervals and calculate the open price
df['15min_interval'] = df['tick_time'].dt.floor('15min')
df['15min_open'] = df.groupby('15min_interval')['u_open'].transform('first')

# Create a new column to indicate if the tick price crossed above the 15-minute open
df['crossed_above'] = (df['u_ltp'] > df['15min_open']) & (df['u_ltp'].shift(1) <= df['15min_open'])

# Count the number of times the price crossed above for each 15-minute interval
crossovers = df.groupby('15min_interval')['crossed_above'].sum()

print(crossovers)

15min_interval
2024-10-18 09:15:00+00:00     0
2024-10-18 09:30:00+00:00     0
2024-10-18 09:45:00+00:00     0
2024-10-18 10:00:00+00:00     0
2024-10-18 10:15:00+00:00     0
2024-10-18 10:30:00+00:00     1
2024-10-18 10:45:00+00:00     1
2024-10-18 11:00:00+00:00    26
2024-10-18 11:15:00+00:00    19
2024-10-18 11:30:00+00:00     0
2024-10-18 11:45:00+00:00     0
2024-10-18 12:00:00+00:00     0
2024-10-18 12:15:00+00:00     0
2024-10-18 12:30:00+00:00     0
2024-10-18 12:45:00+00:00     0
2024-10-18 13:00:00+00:00     0
2024-10-18 13:15:00+00:00     0
2024-10-18 13:30:00+00:00     0
2024-10-18 13:45:00+00:00     0
2024-10-18 14:00:00+00:00     0
2024-10-18 14:15:00+00:00     0
2024-10-18 14:30:00+00:00     0
2024-10-18 14:45:00+00:00     0
2024-10-18 15:00:00+00:00     0
2024-10-18 15:15:00+00:00     0
2024-10-18 15:30:00+00:00     0
Name: crossed_above, dtype: int64

In [23]:
# Filter for the specific symbol and time range
df_filtered = df[(df['trading_symbol'] == 'NIFTY24O2425200CE') &
                (df['tick_time'] >= '2023-12-31 09:30:00') &
                (df['tick_time'] <= '2023-12-31 15:30:00')]

# Check if there's any data for the filtered criteria
if len(df_filtered) > 0:
  # Proceed with calculations if data exists
  df_filtered['tick_time'] = pd.to_datetime(df_filtered['tick_time'])
  df_filtered['tick_time_ist'] = df_filtered['tick_time'] + pd.to_timedelta('5h30min')
  df_filtered['15min_interval'] = df_filtered['tick_time_ist'].dt.floor('15T')
  df_filtered['15min_open'] = df_filtered.groupby('15min_interval')['u_open'].transform('first')
  df_filtered['crossed_above'] = (df_filtered['u_ltp'] > df_filtered['15min_open']) & (df_filtered['u_ltp'].shift(1) <= df_filtered['15min_open'])
  crossovers = df_filtered.groupby('15min_interval')['crossed_above'].sum()
  print(crossovers)
else:
  print("No data found for the specified criteria")

No data found for the specified criteria

In [72]:
df_25000PE

,id,tick_time,timezone,trading_symbol,exchange_name,token,u_open,u_high,u_low,u_close,u_ltp
384,46343141,2024-10-18 03:00:29+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,143.0,291.70,130.35,268.95,268.95
7249,46349907,2024-10-18 03:40:01+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,143.0,291.70,130.35,268.95,268.95
9583,46352291,2024-10-18 03:45:00+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,143.0,291.70,130.35,268.95,358.40
9882,46352513,2024-10-18 03:45:01+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,358.40,300.00,268.95,342.05
10066,46352749,2024-10-18 03:45:01+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,359.95,300.00,268.95,359.95
...,...,...,...,...,...,...,...,...,...,...,...
11376179,57718865,2024-10-18 09:59:59+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,435.00,170.40,268.95,178.00
11376492,57719122,2024-10-18 09:59:59+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,435.00,170.40,268.95,178.00
11376941,57719602,2024-10-18 10:00:00+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,435.00,170.40,268.95,178.00
11377145,57719816,2024-10-18 10:00:00+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,435.00,170.40,268.95,178.00
11377371,57720097,2024-10-18 10:00:01+00,Asia/Kolkata,NIFTY24O2425000PE,NFO,11267842,300.0,435.00,170.40,268.95,178.00